<div class="row section featured">

    <h2 class="section-title"><span>{{ .Site.Params.serviceTitle }}</span></h2>

    <div class="">
        {{ range where .Data.Pages "Section" "service" }}
            <div class="col-sm-4 col-md-4">
				<h3 class="text-center">{{ .Title }}</h3>
				<img class="img-circle" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="">
				<div class="text-center">{{ .Content }}</div> 
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
